<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>LOGIN</TITLE>
        <META charset="utf-8"/>
        <LINK rel="stylesheet" type="text/css" href="css/style.css">
    </HEAD>

    <BODY>
        <DIV id="main" class="container">
            <IMG width="300" alt="LOGO" src="img/maikena.png"/>
            <FORM id="login" action="/login" method="POST">
                <LABEL for="username"><STRONG>USUARIO</STRONG></LABEL>
                <INPUT type="text" name="username" id="username">
                <LABEL for="password"><STRONG>CONTRASEÑA</STRONG></LABEL>
                <INPUT type="password" name="password" id="password">
                <BUTTON type="submit" name="login">ENTRAR</BUTTON>
            </FORM>
            <BR>
                <FORM method="GET" action="/register">
                    <BUTTON type="submit" name="register" class="button-out">REGISTRARSE</BUTTON>
                </FORM>
            <BR><BR><BR>
            <DIV id="welcome">
                <P>WELCOME • BIENVENIDO • ДОБРО ПОЖАЛОВАТЬ • WILLKOMMEN • BEM VINDA • BIENVENUE</P>
            </DIV>
        </DIV>
    </BODY>
</HTML>