<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>MANAGEMENT</TITLE>
        <META charset="utf-8"/>
        <LINK rel="stylesheet" type="text/css" href="css/style.css">
    </HEAD>

    <BODY>
        <DIV id="main" class="container">
            <H1>HAS INICIADO SESIÓN</H1>
            <BR><BR>
            <IMG width="300" alt="LOGO" src="img/maikena.png"/>
            <BR><BR><BR>
            <DIV id="welcome">
                <P>WELCOME • BIENVENIDO • ДОБРО ПОЖАЛОВАТЬ • WILLKOMMEN • BEM VINDA • BIENVENUE</P>
            </DIV>
        </DIV>
    </BODY>
</HTML>