<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <TITLE>REGISTER</TITLE>
        <META charset="utf-8"/>
        <LINK rel="stylesheet" type="text/css" href="css/style.css">
    </HEAD>

    <BODY>
        <DIV class="container">
            <H1>REGISTRO</H1><BR>

            <SECTION id="create">
                <FORM method="POST" action="/create">
                    <LABEL for="username"><STRONG>USUARIO</STRONG></LABEL>
                    <INPUT type="text" name="username">
                    <LABEL for="password"><STRONG>CONTRASEÑA</STRONG></LABEL>
                    <INPUT type="password" name="password">
                    <BUTTON type="submit" name="create">CREAR</BUTTON>
                </FORM>
            </SECTION>

            <DIV id="img">
                <IMG width="300" alt="LOGO" src="img/maikena.png"/>
            </DIV>
        </DIV>
    </BODY>
</HTML>