<div class='app'>


    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
  
        <a routerLink="/perfil" class="logo d-flex align-items-center me-auto me-lg-0">
          <h1>Maikena<span>.</span></h1>
        </a>
  
        <a routerLink="/perfil" class="logo d-flex align-items-center me-auto me-lg-0">
            <h1>RESERVACIONES<span>.</span></h1>
        </a>
  
      </div>
    </header>
  
    <main id="main">
      
      <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="zoom-out">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span><br/>
                <p>SEDES</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="240000" data-purecounter-duration="1" class="purecounter"></span><br/>
                <p>CLIENTES AL AÑO</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="17" data-purecounter-duration="1" class="purecounter"></span><br/>
                <p>CHEFS</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
  
      
      <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Nuestras Sedes</h2>
            <p>¿Dónde deseas hacer la reserva?</p>
          </div>
  
          <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
  
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                <h4>Laureles</h4>
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                <h4>Poblado</h4>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                <h4>Sabaneta</h4>
              </a>
            </li>
          </ul>
  
          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
  
            <div class="tab-pane fade active show" id="menu-starters">
  
              <div class="tab-header text-center">
                <p>Sedes</p>
                <h3>Laureles</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-6 menu-item">
                  <a href="assets/img/gallery/gallery-4.jpg" class="glightbox"><img src="assets/img/gallery/gallery-4.jpg" class="menu-img img-fluid" alt="" /></a>
                  <h4>Cerca del segundo parque</h4>
                  <p class="price">
                    Tv 39 #7635
                  </p>
                </div>

                <div class="col-lg-5 menu-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d827.1286238365084!2d-75.59800931241436!3d6.246528094811131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44299f7c3963bb%3A0x5fd2e4214004e94b!2sTv%2039%20%237635%2C%20Laureles%20-%20Estadio%2C%20Medell%C3%ADn%2C%20Laureles%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1700168283958!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
  
              </div>
            </div>
  
            <div class="tab-pane fade" id="menu-breakfast">
  
              <div class="tab-header text-center">
                <p>Sedes</p>
                <h3>Poblado</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-6 menu-item">
                    <a href="assets/img/gallery/gallery-3.jpg" class="glightbox"><img src="assets/img/gallery/gallery-3.jpg" class="menu-img img-fluid" alt="" /></a>
                    <h4>Provenza</h4>
                    <p class="price">
                      Cra 34.
                    </p>
                </div>
  
                <div class="col-lg-5 menu-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d464.95821499849427!2d-75.56543261216616!3d6.20659074029354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46828285b2b30f%3A0x9939eda5844764e7!2sCra.%2034%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1700169156661!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
  
              </div>
            </div>
  
            <div class="tab-pane fade" id="menu-lunch">
  
              <div class="tab-header text-center">
                <p>Sedes</p>
                <h3>Sabaneta</h3>
              </div>
  
              <div class="row gy-5">
  
                <div class="col-lg-6 menu-item">
                    <a href="assets/img/gallery/gallery-1.jpg" class="glightbox"><img src="assets/img/gallery/gallery-1.jpg" class="menu-img img-fluid" alt="" /></a>
                    <h4>Parque de Sabaneta</h4>
                    <p class="price">
                        Cl. 70 Sur #44-1
                    </p>
                </div>
  
                <div class="col-lg-5 menu-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.7117211703846!2d-75.61608893071279!3d6.151254999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4683deae291d1f%3A0x24c7b78e6abfa10c!2sCl.%2070%20Sur%20%2344-1%20%2344-63%20a%2C%20Sabaneta%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1700169283331!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
  
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      
      <section id="gallery" class="gallery section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>GALERÍA</h2>
            <p>Disfruta del <span>ambiente</span></p>
          </div>
  
          <div class="gallery-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-1.jpg"><img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-2.jpg"><img src="assets/img/gallery/gallery-2.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-3.jpg"><img src="assets/img/gallery/gallery-3.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-4.jpg"><img src="assets/img/gallery/gallery-4.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-5.jpg"><img src="assets/img/gallery/gallery-5.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-6.jpg"><img src="assets/img/gallery/gallery-6.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt="" /></a></div>
              <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt="" /></a></div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
  
      
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Reserva</h2>
            <p>Datos de <span>reserva</span></p>
          </div>
  
          <form id="book" (submit)="book()" class="php-email-form p-3 p-md-4">
            <div class="row">
              <div class="col-xl-6 form-group">
                <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Nombre completo" required />
              </div>
              <div class="col-xl-6 form-group">
                <input type="email" [(ngModel)]="email" class="form-control" name="email" id="email" placeholder="Email" required />
              </div>
            </div>

            <div class="row">
                <div class="col-xl-6 form-group">
                  <input type="text" [(ngModel)]="num" name="num" class="form-control" id="num" placeholder="Número de personas" required />
                </div>
                <div class="col-xl-6 form-group">
                    <select name="sede" [(ngModel)]="sede" id="sede" class="form-control" required>
                        <option value="" disabled selected>Selecciona la sede</option>
                        <option value="Laureles">Laureles</option>
                        <option value="Poblado">Poblado</option>
                        <option value="Sabaneta">Sabaneta</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 form-group">
                  <input type="date" [(ngModel)]="date" name="date" class="form-control" id="date" placeholder="Fecha" required />
                </div>
                <div class="col-xl-6 form-group">
                  <input type="time" [(ngModel)]="time" class="form-control" name="time" id="time" placeholder="Hora" required />
                </div>
            </div>

            <div class="my-3">
              <div class="loading">Un segundo...</div>
              <div class="error-message"></div>
              <div class="sent-message">Reservación realizada</div>
            </div>
            <div class="text-center"><button type="submit">Reservar</button></div>
          </form>
  
        </div>
      </section>
  
    </main>
  
    
    <footer id="footer" class="footer">
  
      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Direcciones</h4>
              <p>
                Tv 39 #76-35 <br/>
                Cra 34<br />
                Cl. 70 Sur #44-1<br />
              </p>
            </div>
  
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Contacto</h4>
              <p>
                <strong>Phone:</strong> +57 305 352 3478<br />
                <strong>Email:</strong> soporte@maikena.com<br />
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
              <h4>Horario</h4>
              <p>
                <strong>Lun-Jue:</strong> 9:00AM - 11:00PM<br />
                <strong>Vie-Sab:</strong> 9:00AM - 12:00PM<br />
                <strong>Dom:</strong> 9:00AM - 10:00PM
              </p>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>¡Síguenos!</h4>
            <div class="social-links d-flex">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Maikena</span></strong>.
        </div>
      </div>
  
    </footer>
  
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <div id="preloader"></div>
  
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  
